* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: whitesmoke;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
p{
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.contact-box{
display: flex;
justify-content: space-around;

}
form{
    background-color: lightgreen;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.input-row{
display: flex;
flex-direction: column;
margin: 20px;
}
.input-row input{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
}

