@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.contact-form {
  display: flex;
  width: 60%;
  height: 60vh;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.contact-info {
  width: 35%;
  height: 60vh;
  background: linear-gradient(
    to bottom,
    rgb(10, 124, 6, 1),
    rgb(43, 255, 0, 1)
  );
  /* border-radius: 10px; */
}
.contant {
  color: white;
  padding: 50px;
}
h2 {
  font-weight: 600;
  font-size: 2rem;
}
p {
  margin-top: 1.5rem;
  font-size: 16px;
  line-height: 25px;
}
.details {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.icons {
  margin-bottom: 2rem;
}
.item p {
  font-size: 18px;
  font-weight: 550;
}
i {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 2rem;
}
i:hover {
  color: red;
  background-color: black;
  transition: 0.3s ease-in;
}
/*Form*/
form {
  background-color: rebeccapurple;
  /* border-radius: 10px; */
  width: 65%;
  height: 60vh;
}
