body {
    transition: background-color 0.5s ease;
}

#dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

@media (max-width: 991.98px) {
    #dark-mode-toggle {
        position: relative;
        margin: 0;
    }};
    